/* 기본 라이트 모드 스타일 */
body {
    background-color: #ffffff; /* bg-background */
}

/* 첫 시작 화면 */
p.logo > img {
    max-width: 27px;
    vertical-align: text-bottom;
}
.loader {
    width: 100%;
    height: 100vh;
    background: #4CAF4F;
}
span.green-text {
    color: #4CAF4F;
}
span.green-text2{
    color: #658b7c;
}
div#custom-loading {
    width: 100%;
    max-width: 480px;
}

.kokoCircle {
    background: #fff;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    text-align: center;
    margin: 32vh auto 0% auto;
    padding-top: 85px;
    font-size: 5rem;
    font-weight: 600;
    color: #4CAF4F;
}

.kokoBottomText {
    text-align: center;
    margin-top: 41%;
    font-size: 4rem;
    color: #fff;
    font-weight: 600;
}


p.welcome-title {
    font-size: 2rem;
    font-weight: 500;
}

p.welcome-title2 {
    font-size: 1rem;
    color: #595959;
}

li.welcome-item {
    background: #F1F2F5;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
}

li.welcome-item > p > img {
    width: 30px;
}

.welcome-item-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.swiper-container {
    width: 100%;
    height: 200px;
}

.slide-item {
    text-align: center;
}

.swiper-slide img {
    width: 100px;
    height: 100px;
}

.slide-div-box {
    text-align: center;
    height: 200px;
    padding-top: 79px;
}
.buttonDefaultGreen.introBtn {
    width: 93%;
}
.intro {
    color: #4CAF4F;
    font-size: 4rem;
    font-weight: 600;
    height: 100vh;
    padding-top: 13%;
    padding-left: 24px;
}
/* 첫 시작 화면 end */

/* 인트로 */
.custom-select {
    position: relative;
    width: 100%;
    font-family: Arial, sans-serif;
}

.select-wrapper {
    padding: 10px;
    border: 1px solid #E8F5E9;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E8F5E9;
    color: #4CAF4F;
}

.selected-item {
    color: #4CAF4F;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.green-text-mid {
    color: #4CAF4F;
    font-size: 2rem;
    margin-bottom: 20px;
}
p.showArrow img {
    width: 34px;
}

.introWrapper {
    position: relative;
    height: 88vh;
}

/* 인트로 끝*/