@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and typography settings */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Links */
a {
    text-decoration: none;
    color: inherit; /* Links will inherit the color from the parent element */
}

li{
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* Header styles */
header {
    color: #28CB8B;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #dadee3;
}

header h1 {
    font-size: 2rem;
}

.header-ico > span > img {
    max-width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

p.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
}
/* Navigation styles */
nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid #dadee3;
    padding: 10px;
}

nav a {
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #555;
}

/* Main container */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button, select, textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: #555;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}

.flex-row-default {
    display: flex;
    justify-content: space-between;
}

.width100 {
    width: 100%;
}

.mt-1{
    margin-top: 10px;
}

.mt-2{
    margin-top: 20px;
}

.mt-3{
    margin-top: 30px;
}

.mt-4{
    margin-top: 40px;
}

.whiteBtn {
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    header h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2rem;
    }

    nav a {
        padding: 8px 16px;
    }
}
